# PlatformIO specific
/.pio/
/.pioenvs/
/.pio/build/
/.pio/libdeps/

# Compiled Object Files
*.o
*.elf
*.bin
*.hex
*.a

# Build Directories
build/
lib/
target/

# Arduino specific files
*.pdb
*.map
*.d

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*.user

# Temporary files
*.tmp
*.temp
*.log

# Operating System files
.DS_Store
Thumbs.db

# User-specific files
*.user
*.sublime-project
*.sublime-workspace
